
<div class="comment">
  <p>{{comment.content}} <span class="right">rating: {{comment.rating}}</span></p>
  <p>Author: {{comment.author}}  <span class="right"><button type="button" name="button"></button></span></p>

</div>
