<form>
<div class="form-group">
  Deployed Site:<br>
  {{input value=url type="text" id='url'}}<br>
  github hundle:<br>
  {{input value=github type="text" id="github"}}
</div>
  <button {{action "submitGithub"}} type="submit" name="button"class="btn btn-submit">Submit Project</button>
</form>
