<form>
<div class="form-group">
  Deployed Site:<br>
  {{input value=url type="text" id='url'}}<br>
  github handle:<br>
  {{input value=github type="text" id="github"}}
</div>
  <button {{action "submitUrl"}} type="submit" name="button"class="btn btn-submit">Preview Project</button>
</form>
