<div class="container">
  <h2>Project Preview</h2>
  <div class="tabs">
  <div class="row">
    <div class="col-md-9">
    <img class="big" src={{project.images}}>
  </div>
  <div class="col-md-3">
    <h2>Project Name</h2>
    <p>Github handle</p>
    <p>Commits:73</p>
    <p>contributors </p><a href="#">Peter,Njoroge,David,Vincent</a>
    <a href="#">link of deployed site </a>
    </div>
    </div>
   </div>
   <form class="Comment" method="post">
<button type="button" name="button"class="btn btn-submit">Submit Project</button>
</form>
</div>
