/*@@font-face {
  font-family: 'Nosifer';
  src: local('../fonts/Nosifer-Regular');
  font-weight: 400;
  font-style: normal;
}*/

h1 {
  text-align: center;
  color: black;
  font-weight: bolder;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5F89B2;
}

.navlist {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


/* Change the link color to #111 (black) on hover */

li a:hover {
  background-color: #111;
}

input[type=text] {
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}


/* When the input field gets focus, change its width to 100% */

input[type=text]:focus {
  width: 100%;
}

@font-face {
  src: url('https://fonts.googleapis.com/css?family=Tangerine');
  src: url('https://fonts.googleapis.com/css?family=Lato');
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  background-color: #6297cc;
  background-size: cover;
  color: white;
  /*text-shadow: 4px 4px 4px #aaa;*/
  /*background-image: "https://thumbs.dreamstime.com/z/digital-program-code-2271732.jpg";*/
  /*background-color: #669900;*/

}


/*button {
  background-color: #162955;
}*/


/*p {
  color: #4F628E;
}*/

img {
  height: 280px;
  width: 500px;
}

.tabs {

  background-color: #B25C56;

  margin: 20px;
  padding: 10px;
  /*background-color: transparent;*/
  margin: 20px;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
}

@media screen and (min-width: 580px) {
  body {
    background-color: #6297cc;
    color: #ffffff;
  }
}


/*body {
  background-color: black;
}*/

.rating {
  display: inline-block;
  position: relative;
  height: 50px;
  line-height: 50px;
  font-size: 50px;
}

a {
  font-size: 18px;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: #000;
}

.rating:not(:hover) label input:checked~.icon, .rating:hover label:hover input~.icon {
  color: #09f;
}

.rating label input:focus:not(:checked)~.icon:last-child {
  color: #000;
  text-shadow: 0 0 5px #09f;
}

.big {
  width: 700px;
  height: 420px;
}

.right {
  float: right;
}

.comment {
  padding: 20px;
  background-color: white;
  margin: 20px;
}

.panel-footer {
  background-image: url('http://www.planwallpaper.com/static/images/background_design_9a_by_jahim_myess-d6dniqj.jpg');
}

.comment {
  background-color: #b25c56;
  border-radius: 80px;
}

a {
  color: white;
}

.update {
  margin-top: 100px;
}

.projecttitle {
  font-size: 50px;
  font-family: 'Lato', sans-serif;
}

form {
  color: black;
}

.btn {
  color: black;
}
