/*@@font-face {
  font-family: 'Nosifer';
  src: local('../fonts/Nosifer-Regular');
  font-weight: 400;
  font-style: normal;
}*/

h1 {
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navlist {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


/* Change the link color to #111 (black) on hover */

li a:hover {
  background-color: #111;
}

input[type=text] {
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}




/* When the input field gets focus, change its width to 100% */

input[type=text]:focus {
  width: 100%;
}
@font-face {

  src: url('https://fonts.googleapis.com/css?family=Tangerine');
}

body {
  font-family: 'Tangerine', cursive;
  font-size: 22px;
  /*text-shadow: 4px 4px 4px #aaa;*/
  background-image: "https://thumbs.dreamstime.com/z/digital-program-code-2271732.jpg";
  /*background-color: #669900;*/
}

button {
  background-color: inherit;
}

p {
  color:blue;
}

img {
  height: 200px;
  width: 200px;
}

.tabs {
  background-color: #162955;
  margin: 20px;
  padding: 30px;
  border-radius: 15px;
}

@media screen and (min-width: 580px) {
body {
  background-color: #030a16;

  color: #ffffff;
  }
}
/*body {
  background-color: black;
}*/

.rating {
  display: inline-block;
  position: relative;
  height: 50px;
  line-height: 50px;
  font-size: 50px;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: #000;
}

.rating:not(:hover) label input:checked~.icon, .rating:hover label:hover input~.icon {
  color: #09f;
}

.rating label input:focus:not(:checked)~.icon:last-child {
  color: #000;
  text-shadow: 0 0 5px #09f;
}

.big {
  width: 700px;
  height: 420px;
}

.right {
  float: right;
}

.comment {
  padding: 20px;
  background-color: white;
  margin: 20px;
}
