<div class="container">

<h2>About MS-Projects</h2>

<p> This is an application that allows you to search Moringa school projects done by both core and prep students.</p>

{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
{{outlet}}
</div>
