<h1>MS-Projects</h1>


<div class="container">
  <ul>
  <li class="navlist">{{#link-to 'index'}}Home{{/link-to}}</li>
  <li class="navlist"><a href="new-project">New Project</a></li>
  <li class="navlist"><a href="about">About</a></li>
</ul>
<span class="glyphicon glyphicon-search"></span>
<input type="text" name="search">
<button type="button" name="button">Search</button>
</div>


{{outlet}}
