<div class="container">
  <ul class="nav nav-tabs nav-stacked">
  <li class="navlist">{{#link-to 'index'}}<strong>MS-Projects</strong>{{/link-to}}</li>
  <li class="navlist">{{#link-to 'index'}}New Project{{/link-to}}</li>
  <li class="navlist"><a href="about">About</a></li>
</ul>
<!-- <span class="glyphicon glyphicon-search"></span>
<input type="text" name="search" placeholder="Search.."> -->
<!-- <button type="button" name="button">Search</button> -->
</div>
{{outlet}}
<div class="footer">
  <!-- <p>lskdsl</p? -->

</div>
