
<div class="container">
  <ul>
  <li><a href="index.hbs">Home</a></li>
  <li><a href="contact">Contact</a></li>
  <li><a href="about">About</a></li>
</ul>
<input type="text" name="search" placeholder="Search..">
<span class="glyphicon glyphicon-search"></span>
</div>

{{outlet}}
