
<div class="container">
  <ul>
  <li class="navlist"><a href="localhost:42">Home</a></li>
  <li class="navlist"><a href="new-project">New Project</a></li>
  <li class="navlist"><a href="contact">Contact</a></li>
  <li class="navlist"><a href="about">About</a></li>
</ul>
<input type="text" name="search" placeholder="Search..">
<span class="glyphicon glyphicon-search"></span>
</div>

{{outlet}}
