<h1><strong><em>MS-Projects</em></strong></h1>

<div class="container">
<ol>
  {{#each model.projects as |project|}}
    {{project-tile project=project update="update"}}
  {{/each}}
</ol>
</div>

  <div class="panel-footer">
    <div class="row">
      <div class = "col-md-4">
    <p>Designer: <br><br> MS-PROJECT Design Team</p>
      </div>
      <div class = "col-md-4">
    <p>Contacts<br><br> For Queries and Comments contact us at <br> MS-PROJECT <br>Ngong Lane Plaza 1st Floor <br>
    +254-712-345-679 <br> ms-projects@gmail.com</p>
    <a href="#" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-snapchat"></a>
    <a href="#" class="fa fa-twitter"></a>

      </div>
      <div class = "col-md-4">
        <p>About <br><br> This project is thought out and implemented by a <br> group of coding enthusiasts. <br>
        It allows you to interact with great Moringa school <br> projects that have been created over time and also load up new <br>
      one's</p>
      </div>
    </div>
    <p> &copy; 2017 MS-PROJECTS TEAM</p>
</div>
