
<div class="container">
<ol>
  {{#each model.projects as |project|}}
    {{project-tile project=project update="update"}}
  {{/each}}
</ol>

</div>
<div class="panel panel-default">
  <div class="panel-footer">
    <p>Designer: MS-PROJECT Design Team</p>
    <p><a href="contact">Click here to contact us</a></p>
    <p> &copy; 2017 </p>
  </div>
</div>
