<div class="container">
{{project-detail project=model}}
{{new-comment saveComment='saveComment' saveRating='saveRating' project=model}}
<div>
  <h2>comments</h2>
  {{#each model.comments as |comment|}}
  {{comment-tile comment=comment delete='delete'}}
  {{/each}}
</div>
</div>
